<div class="container-fluid py-5 px-5">
  <div class="card-product rounded d-flex">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="d-flex">
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
        <div>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
  </div>
</div>


<div class="container-fluid py-5 px-5">
  <div class="d-flex w-100">
    <div>
      <img class="img-card-booking" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    </div>
    <div class="d-flex justify-content-between w-100 details-booking rounded">
      <div>
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
       <div>
        <i class="bi bi-eye"></i>
      </div>
    </div>
  </div>
</div>
