<div class="container-fluid px-5 py-5" id="featured-3">
    <h2 class="pb-4 border-bottom">How it works</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="text-info fs-3">
          <i class="fa-solid fa-magnifying-glass-location"></i>
        </div>
        <h2 class="text-primary">Find your Island</h2>
        <p class="text-muted">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <%= link_to "Search", islands_path, class: "btn btn-primary btn-sm" %>
      </div>
      <div class="feature col">
        <div class="text-info fs-3">
          <i class="fa-solid fa-paper-plane"></i>
        </div>
        <h2 class="text-primary">Request to book</h2>
        <p class="text-muted">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <%= link_to "Book", islands_path, class: "btn btn-primary btn-sm" %>
      </div>
      <div class="feature col">
        <div class="text-info fs-3">
          <i class="fa-solid fa-martini-glass-citrus"></i>
        </div>
        <h2 class="text-primary">Enjoy your stay</h2>
        <p class="text-muted">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <%= link_to "Enjoy", islands_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
