<div class="container-fluid px-5 py-5 min-vh-80">
    <h1 class="py-4 border-bottom text-center">How it Works</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="text-info fs-2">
          <i class="fa-solid fa-magnifying-glass-location"></i>
        </div>
        <h2 class="text-primary py-2">Find your Island</h2>
        <p class="text-muted py-2">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <%= link_to "Search", islands_path, class: "btn btn-primary" %>
      </div>
      <div class="feature col" id="howitworks">
        <div class="text-info fs-2">
          <i class="fa-solid fa-paper-plane"></i>
        </div>
        <h2 class="text-primary py-2">Request to book</h2>
        <p class="text-muted py-2">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <%= link_to "Book", islands_path, class: "btn btn-primary" %>
      </div>
      <div class="feature col">
        <div class="text-info fs-2">
          <i class="fa-solid fa-martini-glass-citrus"></i>
        </div>
        <h2 class="text-primary py-2">Enjoy your stay</h2>
        <p class="text-muted py-2">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <%= link_to "Enjoy", islands_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
