<%= render 'shared/banner' %>

<div class="container-fluid">
  <%= render 'shared/features' %>
</div>

<div class="container-fluid">
  <% if user_signed_in? %>
    <%#= current_user.email %>
  <% end %>
</div>
