#myCarousel .carousel-item img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
  object-position: center;
  filter: brightness(70%);
}

#myCarousel .carousel-caption h1, p {
  color: #FFFFFF;
}
