
footer {
  width: 100%;
  background-color: #007A78;
  color: $white;
  margin-top: 30px;
  min-height: 100%;
  display: flex-end;
  grid-template-rows: auto 1fr auto;
}

.footer-text {
  color: $white;
  text-decoration: none;
}

.logo-column {
  margin-left: 80px;
}

.footer-logo img {
  width: 60px;
  height: 36px;
}

.col {
  h5 {
    color: $white;
    margin-bottom: 25px;
  }
}
