
footer {
  width: 100%;
  background-color: #007A78;
  color: $white;
  margin-top: 30px;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.footer-text {
  color: $white;
  text-decoration: none;
}

.footer-logo img {
  width: 60px;
  height: 36px;
}
